<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="http://localhost:3000/home"><button>home</button></a>
        <a href="http://localhost:3000/work"><button>work</button></a>
        <a href="http://localhost:3000/gallery"><button>gallery</button></a>
    </nav>
    <h1>ABOUT THEM</h1>
    <p>Ira Kaplan y Georgia Hubley, un dúo de marido y mujer, formaron la banda en 1984. La pareja intentó con varias alineaciones hasta establecerse con el guitarrista Dave Schramm y con el bajista Mike Lewis (que participó de la banda punk de Boston DMZ, que luego se llamó The Lyres, además de participar de la banda de Brooklyn The A-Bones. Todo durante su permanencia en Yo la Tengo) con los cuales sacaron su primera grabación The River of Water. En 1986 lanzan su primer LP llamado Ride the Tiger.</p>
<img src="/images/yo-la-tengo.jpg" alt="grupo" width="200">


</body>
</html>