<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="http://localhost:3000/about"><button>about</button></a>
        <a href="http://localhost:3000/work"><button>work</button></a>
        <a href="http://localhost:3000/gallery"><button>gallery</button></a>
    </nav>
    <h1>YO LA TENGO</h1>
    <p>-Yo La Tengo (abreviado YLT) es una banda del indie rock estadounidense creada en 1984 en la localidad de Hoboken, Nueva Jersey.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/WV4R0T64RF0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    
</body>
</html>