<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="http://localhost:3000/home"><button>home</button></a>
        <a href="http://localhost:3000/about"><button>about</button></a>
        <a href="http://localhost:3000/gallery"><button>gallery</button></a>
    </nav>
    <h1>DISCOGRAFIA</h1>
    <div>
    <ul>
<li>Ride the Tiger (1986)</li>
<img src="/images/portadas/ride-the-tiger.jpeg" alt="ride-the-tiger" width="300">
<li>New Wave Hot Dogs (1987)</li>
<img src="/images/portadas/new wave hot dogs.jpeg" alt="new-wave-hot-dogs" width="300">
<li>President Yo La Tengo (1989)</li>
<img src="/images/portadas/president yo la tengo.jpeg" alt="president-yo-la-tengo" width="300">
<li>Fakebook (1990)</li>
<img src="/images/portadas/fakebook.jpg" alt="fakebook" width="300">
<li>May I Sing with Me (1992)</li>
<img src="/images/portadas/may i sing with me.jpeg" alt="may-i-sing-with-me" width="300">
<li>Painful (1993)</li>
<img src="/images/portadas/painful.jpeg" alt="painful" width="300">
<li>Electr-O-Pura (1995)</li>
<img src="/images/portadas/electro pura.jpeg" alt="Electr-O-Pura" width="300">
<li>I Can Hear the Heart Beating as One (1997)</li>
<img src="/images/portadas/I Can Hear the Heart Beating as One.jpg" alt="i-can-hear" width="300">
<li>And Then Nothing Turned Itself Inside-Out (2000)</li>
<img src="/images/portadas/And Then Nothing Turned Itself Inside-Out.jpeg" alt="and-then-nothing" width="300">
<li>Summer Sun (2003)</li>
<img src="/images/portadas/summer sun.webp" alt="summer-sun" width="300">
<li>I Am Not Afraid of You and I Will Beat Your Ass (2006)</li>
<img src="/images/portadas/i am not afraid of you and i will.webp" alt="I Am Not Afraid of You and I Will Beat Your Ass" width="300">
<li>Popular Songs (2009)</li>
<img src="/images/portadas/Popular Songs.jpeg" alt="Popular Songs" width="300">
<li>Fade (2013)</li>
<img src="/images/portadas/fade.jpg" alt="fade" width="300">
<li>Stuff Like That There (2015)</li>
<img src="/images/portadas/Stuff Like That There.jpg" alt="Stuff Like That There" width="300">
<li>There's a Riot Going On (2018)</li>
<img src="/images/portadas/theres a riot going on.jpg" alt="There's a Riot Going On" width="300">
<li>We Have Amnesia Sometimes (2020)</li>
<img src="/images/portadas/We Have Amnesia Sometimes.jpeg" alt="We Have Amnesia Sometimes" width="300">
<li>This Stupid World (2023)</li>
<img src="/images/portadas/this stupid world.webp" alt="This Stupid World" width="300">
    </ul>
</div>
</body>
</html>